<h1>Add a New Place</h1>
<%= form_with model: @place, local: true do |form| %>
  <div>
    <%= form.label :name, 'Place Name:' %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit 'Create Place' %>
  </div>
<% end %>
<p>
  <%= link_to 'Back to Places List', places_path %>
</p>
